# Ignore environment files
.env

# Ignore logs
*.log
logs/

# Ignore Docs
*.md
docs/

# EXCEPCIÓN: este archivo NO se ignora
!AGENTS.MD
!Pendientes.md
!endpoints_gratuitos_twelve_data_y_eodhd.md

# Ignore VSCode editor files
.vscode/
